# Output directories
/bin/*
!/bin/**/
!/bin/*.bat
!/bin/*.sh
/bin/*.app/
/bin/*.app.dSYM/
/bin/jit/
/bin/Screenshots/
/bin/tool/
/include/
/lib*/
generated/

# Output files
/Source/**/*.a
/Source/Clockwork/Clockwork.h
/Source/Clockwork/Clockwork.pc
/Source/Clockwork/librevision.h
/Source/Clockwork/Precompiled.cpp

# Compiled shaders
*.vs2
*.vs3
*.ps2
*.ps3

# Compiled AngelScript
*.asc

# Generated documentation
/Docs/html/
/Docs/qch/
/Docs/Doxyfile

# Eclipse project settings
/.*project
/.settings

# KDevelop project settings
/*.kdev?

# Qt Creator project settings
/CMakeLists.txt.user

# JetBrains IDE project settings
/.idea/

# Custom rake tasks
/.rake/

# Android project settings
/Android/project.properties
/Android/local.properties
/Android/proguard-project.txt

# Android output directories
/Android/Clockwork/
/Android/ThirdParty/
/Android/libs/

# CMake generated build files
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
/Source/**/*.cmake
/Docs/**/*.cmake

# Precompiled header files
*.gch/
*.pch/
*.pch.*

# Misc.
configure*
*~
*.swp
.DS_Store
*.log
*.bak
Thumbs.db
